/* Configurações para adequação em telas de diferentes tamanhos*/
@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
    

/* Nome da cafeteria*/
#nome{
font-family: serif;
font-weight: bold;
color: #451E0A;
font-size: 35px; 
}

/* Menu*/
#navbar{background-color: #F9E6C8;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #451E0A;
    font-size: 22px;

}
/* Slyde de imagens*/
#carouselExampleDark{
    background-color: #F9E6C8;
      }
#slyde div h5{
    font-size: 35px;
    color:white;
        -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#slyde div p{
    font-size: 25px;
    color:white;
        -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Sobre nós*/
#sobre{
    background-color: #F9E6C8;
}
#sobre h2{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px; 
    font-weight: bold;
    text-align: center;
}
#sobre p{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px; 
}
#sobre a{
    background-color: #451E0A;
    color:#F9E6C8;
    font-weight: bold;
}
.row{
    background-color: #F9E6C8;
}

#sobre .card{
    background-color: #F9E6C8;
    width: 1000px;
}

/* Mais pedidos*/
#maispedidos{
    background-color:  #451E0A;
}
#maispedidos div div div div{
    background-color:  #F9E6C8;
}
#maispedidos1{
    background-color:  #451E0A;  
}
#maispedidos a{
    background-color:  #F9E6C8;
    color:#451E0A; 
    font-weight: bold;
}
#maispedidos h2{
    background-color: #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px; 
    font-weight: bold;
    text-align: center;
}

#maispedidos h5{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20x;
    font-weight: bold;
}

#maispedidos p{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

/* Promoções*/
#promocoes{
    background-color:  #F9E6C8;
}
#promocoes1{
    background-color:  #F9E6C8;
}

#promocoes1 div div{
    background-color:  #451E0A;
}

#promocoes a{
    background-color:  #451E0A;
    color:#F9E6C8;
    font-weight: bold;
}
#promocoes h2{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px; 
    font-weight: bold;
    text-align: center;
}
#promocoes h5{
    background-color: #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20x;
    font-weight: bold;
}
#promocoes p{
    background-color: #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

/* Contatos*/
#contatos{
    background-color:  #451E0A;
}
#contatos h2{
    background-color:  #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px; 
    font-weight: bold;
    text-align: center;
}
#contatos h3{
    background-color:  #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    font-weight: bold;
}
#contatos div div div{
    background-color:  #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; 
    font-weight: bold;
}
#contatos a{
    background-color:  #F9E6C8;
    color:#451E0A;
    font-weight: bold;
}
}
