/* Configurações para adequação em telas de diferentes tamanhos*/


@media only screen and (max-width: 768px) {

/* Nome da cafeteria*/
#nome{max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;}
/* Menu*/
#navbar{max-width: 100%;
    padding-left: 2rem;
    padding-right: 1rem;}
/* Slyde de imagens*/
#carouselExampleDark{max-width: 100%}
#slyde div h5{max-width: 100%}
#slyde div p{max-width: 100%}
/* Sobre nós*/
#sobre{max-width: 100%;
    padding-left: 1rem;}
#sobre h2{max-width: 100%;
    padding-left: 1rem;}
#sobre p{max-width: 100%;
    padding-left: 1rem;}
#sobre a{max-width: 100%}
.row{max-width: 100%}
#sobre img{max-width: 100%;
    padding-left: 1rem;}
#sobre .card{max-width: 100%}
/* Mais pedidos*/
#maispedidos{max-height: 100%}
#maispedidos .card{max-height: 100%}
#maispedidos img{max-height: 100%}
#maispedidos div div div div{max-height: 100%}
#maispedidos1{max-height: 100%}
#maispedidos a{max-height: 100%}
#maispedidos h2{max-height: 100%}
#maispedidos h5{max-height: 100%}
#maispedidos span{max-height: 100%}
/* Promoções*/
#promocoes{max-width: 100%}
#promocoes1{max-width: 100%}
#promocoes1 div div{max-width: 100%}
#promocoes a{max-width: 100%}
#promocoes h2{max-width: 100%}
#promocoes h5{max-width: 100%}
#promocoes span{max-width: 100%}
/* Contatos*/
#contatos{max-width: 100%}
#contatos h2{max-width: 100%}
#contatos h3{max-width: 100%}
#contatos div div div{max-width: 100%}
#contatos a{max-width: 100%}
#contatos img{height: 250px;}

}

/* Nome da cafeteria*/
#nome{
font-family: serif;
font-weight: bold;
color: #451E0A;
font-size: 35px; 
}

/* Menu*/
#navbar{background-color: #F9E6C8;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #451E0A;
    font-size: 22px;

}
/* Slyde de imagens*/
#carouselExampleDark{
    background-color: #F9E6C8;
      }
#slyde div h5{
    font-size: 35px;
    color:white;
        -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#slyde div p{
    font-size: 25px;
    color:white;
        -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Sobre nós*/
#sobre{
    background-color: #F9E6C8;
}
#sobre h2{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px; 
    font-weight: bold;
    text-align: center;
}
#sobre p{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px; 
}
#sobre a{
    background-color: #451E0A;
    color:#F9E6C8;
    font-weight: bold;
}
.row{
    background-color: #F9E6C8;
}

#sobre .card{
    background-color: #F9E6C8;
    width: 1000px;
}

/* Mais pedidos*/
#maispedidos{
    background-color:  #451E0A;
}
#maispedidos img{
    height: 200px;
}

#maispedidos div div div div{
    background-color:  #F9E6C8;

}
#maispedidos1{
    background-color:  #451E0A;  
}
#maispedidos a{
    background-color:  #F9E6C8;
    color:#451E0A; 
    font-weight: bold;
}
#maispedidos h2{
    background-color: #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px; 
    font-weight: bold;
    text-align: center;
}

#maispedidos h5{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20x;
    font-weight: bold;
}

#maispedidos span{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

/* Promoções*/
#promocoes{
    background-color:  #F9E6C8;
}

#promocoes img{
height: 200px;
}
#promocoes1{
    background-color:  #F9E6C8;
}

#promocoes1 div div{
    background-color:  #451E0A;
}

#promocoes a{
    background-color:  #451E0A;
    color:#F9E6C8;
    font-weight: bold;
}
#promocoes h2{
    background-color: #F9E6C8;
    color: #451E0A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px; 
    font-weight: bold;
    text-align: center;
}
#promocoes h5{
    background-color: #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20x;
    font-weight: bold;
}
#promocoes span{
    background-color: #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

/* Contatos*/
#contatos{
    background-color:  #451E0A;
}
#contatos h2{
    background-color:  #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px; 
    font-weight: bold;
    text-align: center;
}
#contatos img{
    height: 250px;
}
#contatos h3{
    background-color:  #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    font-weight: bold;
}
#contatos div div div{
    background-color:  #451E0A;
    color: #F9E6C8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; 
    font-weight: bold;
}
#contatos a{
    background-color:  #F9E6C8;
    color:#451E0A;
    font-weight: bold;
}

